kornli_dev.tsv 
kornli_train.tsv 
__pycache__/ 
*.pyc 
.DS_Store 
.ipynb_checkpoints/ 
roberta_kornli_output/ 
roberta_nli_output/ 
roberta_kornli_final/ 
roberta_kornli_final/ 
roberta_kornli_final/ 
kornli_dev.tsv 
kornli_train.tsv 
__pycache__/ 
.DS_Store 
.ipynb_checkpoints/ 
roberta_kornli_output/ 
roberta_nli_output/ 
*.pyc 
roberta_kornli_final/ 
kornli_dev.tsv 
kornli_train.tsv 
__pycache__/ 
.DS_Store 
.ipynb_checkpoints/ 
roberta_kornli_output/ 
roberta_nli_output/ 
*.pyc 
